In [ ]:
# https://www.kaggle.com/kimjihoo/coronavirusdataset

In [5]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.dates as mdates
import matplotlib.pyplot as plt

In [16]:
patientinfo_data = 'Patientinfo.csv'
region_data = 'Region.csv'
time_data = 'Time.csv'

df_patient = pd.read_csv(patientinfo_data)
df_region = pd.read_csv(region_data)
df_time = pd.read_csv(time_data)

In [20]:
df_region.head()

,code,province,city,latitude,longitude,elementary_school_count,kindergarten_count,university_count,academy_ratio,elderly_population_ratio,elderly_alone_ratio,nursing_home_count
0,10000,Seoul,Seoul,37.566953,126.977977,607,830,48,1.44,15.38,5.8,22739
1,10010,Seoul,Gangnam-gu,37.518421,127.047222,33,38,0,4.18,13.17,4.3,3088
2,10020,Seoul,Gangdong-gu,37.530492,127.123837,27,32,0,1.54,14.55,5.4,1023
3,10030,Seoul,Gangbuk-gu,37.639938,127.025508,14,21,0,0.67,19.49,8.5,628
4,10040,Seoul,Gangseo-gu,37.551166,126.849506,36,56,1,1.17,14.39,5.7,1080

In [30]:
import folium
import json
southKorea_map = folium.Map(location=[36.55, 126.983333], zoom_start=7, tiles='Stamen Toner')

for lat, lon, city in zip(df_region['latitude'], df_region['longitude'], df_region['city']):
    folium.CircleMarker([lat, lon],
                       radius=5,
                       color='red',
                       popup=('City:'+str(city)+'<br>'),
                        fill_color='red',
                        fill_opacity=0.7).add_to(southkorea_map)
    southkorea_map

ModuleNotFoundError: No module named 'folium'